Repository neilpeterson/azure-policy-ramp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-nepeters.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-nepeters.yml: any of: azure-pipelines-nepeters.yml
  azure-pipelines.yml: any of: azure-pipelines.yml

kick build
  azure-pipelines-nepeters.yml
Due: azure-pipelines-nepeters.yml

config name
  tls-config/tls.ps1
Due: none

config name
  azure-pipelines-nepeters.yml
Due: azure-pipelines-nepeters.yml

config name
  azure-pipelines-nepeters.yml
  tls-config/tls.ps1
Due: azure-pipelines-nepeters.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines.yml

Update tls.ps1
  tls-config/tls.ps1
Due: none

Update azure-pipelines-nepeters.yml for Azure Pipelines
  azure-pipelines-nepeters.yml
Due: azure-pipelines-nepeters.yml

cert logic
  bicep-templates/virtual-machine.bicep
Due: none

tried secpack
  azsecpack-config/azsecpack.ps1
Due: none

push to SAW
  demo-config/demo-config.ps1
Due: none

ayya
  AzSecPackFile/AzSecPackFile.psd1
  AzSecPackFile/AzSecPackFile.psm1
  azsecpack-config/azsecpack.ps1
Due: none

styles
  AzSecPackFile/AzSecPackFile.psm1
Due: none
